.body-section{
    margin-left: 10px;
}
.card-section{
    margin-top: 20px;
}
.section{
    width: 320px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    transition: transform 0.6s ease; 
}
.section:hover{
    transform: scale(1.03);
}
.head-section img{
    width: 100%;
    
}
.head-section{
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11) ;
}
.bottom-section{
    margin-top: 13px;
}
.bottom-section h4{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 19px;
}
.light-color{
    font-size: 24px;
    font-weight: 500;
    color: rgba(148, 142, 142, 0.744);
}
.bottom-section p:nth-of-type(2){
    color: blue;
    font-size: 17px;
}

